.cards-section {
  background: white;
  padding: 30px 20px;
  text-align: center;
  
  box-sizing: border-box;
}

.cards-title {
  font-size:30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #333;
  font-family: "Poppins";
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 95%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  justify-items: center;
  align-items:  center;
}

.card {

  background: #f3f3f3;
  border-radius: 10px;
  height: 230px; 
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.1s ease-in;
}

.card:hover {
  transform: translateY(-8px);
}

.card-img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-top: 10px;
}

.card-title {
  background: #0077bb;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 0;
  border-radius: 4px;
  width: 200px;
}

.card-text {
  color: #333;
  font-size: 0.95rem;
  margin: 10px 0 10px;
  padding-bottom: 20px;
  
}


@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 130px;
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 150px;
  }
}
